<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="FactWeb.Repository.FactWebContext" connectionString="Data Source=okirs4c0tg.database.windows.net;Initial Catalog=factWeb-qa;User Id=factAdmin;Password=8045SCHeIHyc;" providerName="System.Data.SqlClient" />
    <!--<add name="FactWeb.Repository.FactWebContext" connectionString="Data Source=localhost;Initial Catalog=fact-unit;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  </connectionStrings>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="GeoCodeRestUrl" value="http://dev.virtualearth.net/REST/v1/Locations/[ADDRESS]?key=[APIKEY]" />
    <add key="GeoCodeApiKey" value="AvhhGfRYMKCpRw1N-8zsdZEcoozpDBELkfUiZq7N56wGiVkKG8BxbHbfXSLNyT0g" />
    <add key="EmailUserName" value="portal@factwebsite.org" />
    <add key="EmailPassword" value="J4ow3*#nf1cnBj2f6" />
    <add key="EmailHost" value="smtp.misk.com" />
    <add key="EmailPort" value="587" />
    <add key="EmailFromAddress" value="portal@factwebsite.org" />
    <add key="Url" value="http://fact5mdev.azurewebsites.net/" />
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=factweb;AccountKey=lJLk/qJyub6h/jOJYotkdtJQT1+TBQiDE65tXecTglkIq1DqDR0EEsCA3OQAPXTRMLsmLY3bU3eKmt92VO26Ag==" />
    <add key="StaffEmailList" value="FACTPortal@unmc.edu" />
    <add key="K2Server" value="40.83.14.215" />
    <add key="K2Password" value="pass@word2" />
    <add key="FactPortalEmailAddress" value="FACTPortal@unmc.edu" />
    <add key="DocumentLibraryApiKey" value="Y2EzMDBkZjAtMDM5MC00Mjc2LWFjNDUtODdlMWNlNTNjMTRjOg==" />
    <add key="ReportingUserName" value="admin" />
    <add key="ReportingPassword" value="F@ctw3b" />

    <add key="FactOnlyVault" value="063f366e-34bc-4dbf-b3a6-9c7e11d0c763" />
  </appSettings>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>