.register .alert {
  color: #ff0000;
  margin: 0;
  padding: 5px 0 0 0;
}
.register .find {
  width: auto !important;
}
.register .form-group.height {
  height: 35px;
}
.register .margin-top20 {
  margin-top: 20px;
}