.col-md-8 {
  padding: 0;
}
.login {
  width: 700px;
  margin: auto;
}
.login .row {
  margin: 0;
  padding-bottom: 20px;
}
.login .form-body {
  padding: 0;
}
.login h1 {
  padding-top: 90px;
}
.login img {
  width: 700px;
}
.login .sky-form {
  padding: 10px 70px 40px 70px;
}
.login .sky-form .form-group {
  margin-bottom: 30px;
}
.login p {
  text-align: center;
}
.login fieldset {
  padding: 0;
}
.login input {
  background-color: #fff !important;
}