.k-grid {
  margin-left: 0;
  margin-right: 0;
}
.k-grid [class*='col-'] {
  padding: 7px 0 7px 0 !important;
  border-color: #c5c5c5;
  border-style: solid;
  border-width: 0 0 1px 1px;
  margin-left: -1px;
  text-align: center;
}
.k-grid [class*='col-'] span {
  padding: 0 5px;
}
.k-grid [class*='col-'].ttl {
  text-align: left;
}
.k-widget {
  border-bottom: 0 !important;
}
.k-grid-header {
  padding-right: 0 !important;
  border-bottom: 0 !important;
  display: flex;
}
.k-grid-header .k-grid-header-wrap {
  display: flex;
}
/*.score-color {
    color: #FD822B;
    font-weight: bold;
}*/
.space-top {
  margin-top: 15px;
}
.details {
  margin-left: 0;
  margin-right: 0;
  display: flex;
}
.details [class*='col-'] {
  border-color: #c5c5c5;
  border-style: solid;
  border-width: 0 1px 1px 1px;
}
.details [class*='col-'].ttl {
  text-align: left;
  padding-left: 5px;
  vertical-align: middle;
}
.details.fst,
.details .fst {
  background-color: #e3e3e3;
}
.details.fst .ttl,
.details .fst .ttl {
  border-bottom: none;
}
.details.items {
  padding: 0;
  border-left: 0;
  margin-left: -1px;
}
.details.items [class*='col-'] {
  padding: 7px 0 7px 0;
  border-right: 0;
  text-align: center;
}
.details.items [class*='col-']:last-child {
  border-right: 1px solid #c5c5c5;
}
.details.items.last [class*='col-'] {
  border-bottom: 0;
}
.rows {
  display: flex;
  margin-left: 0;
  margin-right: 0;
  border-bottom: #e3e3e3 1px solid;
  min-height: 40px;
}
.rows.first {
  border-top: #e3e3e3 1px solid;
}
.rows .title {
  background: #e3e3e3;
  background-image: none, linear-gradient(to bottom, rgba(255, 255, 255, 0.6) 0, rgba(255, 255, 255, 0) 100%);
  background-position: 50% 50%;
  margin-bottom: 0;
  padding-left: 10px;
}
.rows [class*='col-'] {
  border-color: #c5c5c5;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 0;
}
.rows [class*='col-'].ttl {
  text-align: left;
  padding-left: 5px;
  vertical-align: middle;
}
.rows [class*='col-']:first-child {
  border-right: 0;
}
.rows ol {
  list-style: decimal;
  margin-left: 20px;
}