.bg-white {
  color: #666 !important;
}
.fact-blue {
  color: #40B6AD;
}
.rfi-warn {
  color: #ff0000;
  padding-left: 20px;
}
body {
  padding-top: 0;
  background-color: #fff;
  font-family: "acumin-pro" !important;
  font-size: 14px !important;
}
.sky-form .label .bold {
  font-weight: bold;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: none;
}
.red-bold {
  color: #ff0000;
  font-weight: bold;
}
.no-data {
  padding-bottom: 20px;
}
.space-multi {
  padding-top: 10px;
}
.comment-box textarea {
  width: 90%;
  height: 300px;
}
.rfi-comments .col-md-1 {
  padding-left: 25px;
  padding-right: 0;
  width: 50px;
}
.rfi-comments .col-md-8 {
  padding-left: 0;
}
.red-color {
  color: #ff0000;
}
.file-row {
  padding-bottom: 10px;
}
body.modal-open {
  overflow: hidden;
}
body.modal-open .model,
body.modal-open .model-content {
  max-height: 100000px;
}
.space-bot {
  padding-bottom: 10px;
}
.k-widget.k-combobox {
  height: 38px;
}
.k-dropdown-wrap > input {
  height: 30px !important;
}
.navbar-brand {
  padding: 10px;
  height: auto;
}
.navbar-brand img {
  height: 60px;
}
.r-pd-10 {
  padding-right: 10px;
}
.l-pd-10 {
  padding-left: 10px;
}
.pd-10 {
  padding: 10px;
}
.bold {
  font-weight: bold !important;
}
.baa button {
  margin-top: 10px;
}
.wp-section .root-sect {
  padding-left: 0;
}
.wp-section .root-sect .container.view-animate-container {
  margin: 0;
  padding: 0;
}
.right-nav {
  position: absolute;
  top: 5px;
  right: 0;
  font-family: "acumin-pro";
  font-size: 12px;
}
.right-nav .name {
  font-weight: bold;
}
.right-nav a {
  padding: 0 !important;
  text-decoration: none;
  color: #0066A4 !important;
  font-family: "acumin-pro" !important;
  font-size: 12px !important;
  text-transform: none !important;
  border: none !important;
  font-weight: normal !important;
  display: inline !important;
}
.right-nav a:hover {
  color: #0066A4 !important;
  background-color: #fff !important;
  text-decoration: underline !important;
}
.padding-top {
  padding-top: 20px;
}
.padding-bottom {
  padding-bottom: 20px;
}
.navbar-wp .navbar-nav > li > a:hover {
  border-top: 3px solid #0066A4;
  background-color: #0066A4;
}
ul.categories > li > a:hover,
ul.categories > li.selected {
  background-color: #0066A4;
}
ul.categories > li > a:hover a,
ul.categories > li.selected a {
  color: #fff;
}
ul.categories > li > a:hover ul li a,
ul.categories > li.selected ul li a {
  color: #000;
}
ul.categories > li > a:hover ul li a.selected,
ul.categories > li.selected ul li a.selected {
  color: #0066A4;
  background-color: whitesmoke;
}
.pg-opt .breadcrumb a:hover {
  color: #0066A4;
}
ul.categories > li > ul > li > a:hover {
  color: #0066A4;
  background-color: whitesmoke;
}
.btn-base:before {
  background-color: #00606d;
}
.btn-logout::before {
  content: "\e163";
}
.btn-default.radios {
  background-color: #A9A9A9 !important;
  color: #000 !important;
  border: 1px solid #ccc;
}
.btn-default.radios:hover {
  background-color: #fff !important;
}
.btn-default.radios.active {
  background-color: #fff !important;
}
.btn-base,
.btn-base:hover,
.btn-base:focus,
.btn-base:active,
.btn-base.active,
.open .dropdown-toggle.btn-base {
  background-color: #00929F;
}
r .logout,
.search {
  font-family: inherit;
  font-size: 14px;
  height: 32px;
}
r .logout::before,
.search::before {
  width: 36px;
  line-height: 32px;
  height: 30px;
}
.required-field {
  color: #ff0000;
}
#diagram .k-layer {
  width: 100% !important;
}
.pointer {
  cursor: pointer;
}
.error {
  color: #ff0000;
}
.btn.btn-info {
  background: #00929F !important;
}
.modal-dialog {
  width: 800px;
}
.modal-hr hr {
  height: 10px;
  background-color: #0066A4;
  border: 0;
}
.btn-item {
  cursor: pointer;
  height: 20px;
}
.btn-item i {
  padding-top: 5px;
}
.spacing {
  padding-top: 10px;
}
.no-border {
  border: none !important;
}
.page-splash {
  z-index: 99999 !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0.9;
  pointer-events: auto;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
}
.page-splash-message {
  text-align: center;
  margin: 20% auto 0 auto;
  font-size: 400%;
  font-family: "Segoe UI", Arial, Helvetica, sans-serif;
  font-weight: normal;
  -webkit-text-shadow: 2px 2px #000000;
  text-shadow: 2px 2px #000000;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.15);
  text-transform: uppercase;
  text-decoration: none;
  color: #F58A00;
  padding: 0;
}
.page-splash-message.page-splash-message-subtle {
  margin: 30% auto 0 auto;
  font-size: 200%;
}
.view-animate {
  padding: 10px;
}
.view-animate.ng-enter,
.view-animate.ng-leave {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 1.5s;
  display: block;
  width: 100%;
  border-left: 1px solid black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
}
.view-animate.ng-enter {
  left: 100%;
}
.view-animate.ng-enter.ng-enter-active {
  left: 0;
}
.view-animate.ng-leave.ng-leave-active {
  left: -100%;
}
form {
  margin: 0;
}
.k-button {
  color: #000 !important;
}
footer {
  background: #3D90CE;
  color: #fff;
  font-family: "acumin-pro";
  font-size: 14px;
}
footer a {
  font-family: "acumin-pro";
  font-size: 14px;
  color: #fff;
}
footer a:hover {
  color: #fff;
  text-decoration: underline;
}
h1 {
  font-family: "acumin-pro";
  font-weight: bold;
  font-size: 20px;
  text-transform: none;
}
.login h1 {
  text-align: center;
}
.label,
.input,
.checkbox,
span,
p {
  font-family: "acumin-pro";
  font-size: 14px;
}
.btn {
  background-color: #0066A4 !important;
}
.btn:hover {
  background-color: #197fbd;
}
.btn:before {
  background-color: #0066A4;
}
.ta-toolbar {
  padding-left: 5px;
}
.ta-toolbar .btn-group {
  margin-left: 0;
  padding-bottom: 10px;
}
.ta-toolbar .btn {
  background-color: #fff !important;
  border: 1px solid #ccc;
}
.open > .dropdown-toggle.btn-default {
  background-color: #0066A4;
}
a {
  color: #3298d6;
}
a:hover {
  text-decoration: underline;
}
.wp-block.default {
  box-shadow: 3px 3px 3px #888;
  border-color: #DCDDDE;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.wp-block.default .sky-form {
  border: none;
}
.radios.btn {
  background-color: #fff;
}
.radios.btn.active {
  background-color: #0066A4;
}
ul.inspector {
  background-color: #E6E7E9;
  width: 280px;
}
ul.inspector li {
  margin-left: 15px;
  padding: 10px 5px 0 10px;
}
ul.inspector li span {
  font-family: "acumin-pro" !important;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}
ul.inspector li.text {
  padding: 10px 0 10px 0;
}
ul.inspector > li > a {
  display: inline;
  color: #4B4C4D;
  font-family: "acumin-pro" !important;
  text-transform: uppercase;
  padding: 10px;
  border: none !important;
}
ul.inspector > li > a:after {
  content: none;
}
ul.inspector > li > a:hover {
  background-color: transparent;
  color: #4B4C4D;
  font-weight: bold;
}
ul.inspector > li > a:active,
ul.inspector > li > a:focus {
  border: none !important;
}
ul.inspector > li.selected {
  background-color: transparent;
  color: #4B4C4D;
}
ul.inspector > li.selected a {
  color: #4B4C4D;
  text-decoration: underline;
}
ul.inspector > li .nav > li {
  padding: 0;
}
ul.inspector > li .nav > li a {
  padding: 5px;
  text-decoration: none;
  color: #4B4C4D;
}
ul.inspector > li .nav > li a.selected {
  text-decoration: underline;
}
ul.inspector > li .nav > li a:hover {
  background-color: #E6E7E9;
  color: #4B4C4D;
  font-weight: bold;
}
ul.inspector .view {
  color: #3298d6;
}
@media screen and (max-width: 1600px) {
  ul.inspector {
    width: 250px;
  }
}
@media screen and (max-width: 1400px) {
  ul.inspector {
    width: 225px;
  }
}
@media screen and (max-width: 1250px) {
  ul.inspector {
    width: 200px;
  }
}
@media screen and (max-width: 1100px) {
  ul.inspector {
    width: 175px;
  }
}
.orgs .col-md-12 {
  padding: 20px 30px 20px 0;
}
.edit-user .col-md-4 select {
  width: 100%;
}
.edit-user .org {
  padding-bottom: 10px;
}
.red-text {
  color: #ff0000;
}
.reviewer .wrapper {
  max-height: 600px;
  overflow: auto;
}
.reviewer form fieldset .panel {
  width: 1040px;
}
.reviewer .rfis {
  padding: 10px;
}
.reviewer .rfis .title {
  margin-left: -10px;
}
.reviewer .rfis .title .col-md-12 {
  padding: 5px;
}
.reviewer .rfis .row {
  padding-bottom: 10px;
}
.reviewer .rfis button span {
  padding-left: 0;
  padding-right: 0;
}
.btn.btn-primary.red {
  background-color: rgba(255, 0, 0, 0.6);
  color: #000;
  margin-bottom: 5px;
}
.btn.btn-primary.red:hover {
  border: 1px solid rgba(255, 0, 0, 0.6);
}
.cibmtr .spacer {
  padding-bottom: 10px;
}
.cibmtr .add {
  padding-top: 3px;
  padding-bottom: 3px;
  line-height: normal;
  vertical-align: top;
  font: initial;
  font-family: Arial;
  margin-top: 5px;
}
.coordinator-photo {
  width: 124px;
  height: 124px;
  background-color: #A1A637;
  -webkit-border-radius: 62px;
  -moz-border-radius: 62px;
  border-radius: 62px;
  background-repeat: no-repeat;
}
.no-margin-row {
  margin-left: 0;
  margin-right: 0;
}
.bug img {
  width: 25px;
  position: absolute;
  bottom: 30px;
  left: 20px;
}
.bug span {
  position: absolute;
  bottom: 30px;
  left: 55px;
}
.user-form .form-header {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.display ul {
  list-style: disc;
  padding-left: 20px;
}