.requirements .label {
  font-size: 15px;
}
.requirements .panel-group {
  margin-bottom: 0;
}
.requirements .panel-group .panel-heading {
  padding: 0 5px 0 10px;
  min-height: 60px;
}
.requirements .panel-group .panel-heading::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.requirements .panel-group .panel-heading .col-lg-9 {
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}
.requirements .panel-group .panel-heading .col-lg-3 {
  padding-left: 0;
}
.requirements .panel-group .panel-heading .col-lg-3 .icons.pull-right {
  margin-right: 10px;
}
.requirements .panel-group .panel-heading .col-lg-3 .icons.pull-right a {
  margin-right: 5px;
}
.requirements .panel-group .panel {
  overflow: visible;
}
.requirements .panel-body {
  padding: 5px;
}
.requirements .panel-body .row {
  margin: 0;
}
.requirements .panel-body .row .col-lg-1 {
  padding-left: 0;
}
.requirements .reqs {
  border: 1px solid #dadada;
}
.requirements .reqs.odd {
  background-color: #fff;
}
.requirements .reqs.even {
  background-color: whitesmoke;
}
.notapp .icons {
  margin-right: -15px;
}
.not-applicable .removed span {
  text-decoration: line-through;
  color: #808080;
}
.not-applicable .icons {
  margin-right: -15px;
}
.not-applicable .icons a {
  color: #fff;
  z-index: 9999;
}
.not-applicable .panel-group .panel-heading:after {
  content: '';
}