<link href="content/eligibility.css" rel="stylesheet">
<link href="content/application.css" rel="stylesheet">
<!--<div class="widget-content overview">-->
<div class="row">
    <div class="col-md-6">
        <span class="pull-right">Data as of {{vm.dataAsOf | date: 'MM/dd/yyyy hh:mm:ss' }}</span>
    </div>
    <div class="col-md-6">
        <kendo-button icon="'k-icon k-i-refresh'" ng-click="vm.getAllApplications()"></kendo-button>
    </div>
</div>

<h1 style="margin-left:14px;">Current Applications</h1>
<div class="col-md-12 comp-application" ng-repeat="app in vm.results">
    <div class="wp-block default" ng-hide="app.applicantApplicationStatusName.indexOf('Declined') != -1 || app.applicantApplicationStatusName.indexOf('Complete') != -1 || app.applicantApplicationStatusName.indexOf('Cancelled') != -1">
        <div class="row">
            <div class="col-md-8">
                <b>{{app.organizationName}}<br /></b>
                <a href="#/Application?app={{app.uniqueId}}&ver={{app.applicationVersionTitle}}" ng-if="app.applicationTypeName.indexOf('Compliance') == -1">{{app.applicationTypeName}}</a>
                <a href="#/Compliance?app={{app.uniqueId}}&c={{app.complianceApplicationId}}&ver={{app.applicationVersionTitle}}" ng-if="app.applicationTypeName.indexOf('Compliance') != -1">{{app.applicationTypeName}}</a>
            </div>
            <div class="col-md-4">
                <div class="col-md-1">
                    <div class="circle {{app.applicantApplicationStatusName.replace(' ', '')}}"></div>
                </div>
                <div class="col-md-10">{{app.applicantApplicationStatusName}}</div>
            </div>
        </div>
        <div class="row boxes">
            <div class="col-md-2">
                <div class="box">
                    <div class="title">Submitted</div>
                    <div class="details">
                        <div class="date">{{app.submittedDate || 'N/A' | date: 'MM/dd/yyyy'}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="box">
                    <div class="title">Due</div>
                    <div class="details">
                        <div class="date">{{app.rfiDueDate != '' ? app.rfiDueDate : (app.dueDateString != '' ? app.dueDateString:'N/A')}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-2" ng-if="app.applicationTypeName.indexOf('Compliance') > -1">
                <div class="box">
                    <div class="title">Inspection</div>
                    <div class="details">
                        <div class="date">{{app.inspectionDate || 'N/A' | date: 'MM/dd/yyyy'}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="box">
                    <div class="title">Cycle number</div>
                    <div class="details">
                        <div class="date">{{app.currentCycleNumber}}</div>
                    </div>
                </div>
            </div>
            <div class="col-md-2" ng-if="app.applicationTypeName.indexOf('Compliance') == -1">&nbsp;</div>
            <div class="col-md-3">
                <span ng-if="app.applicationTypeName.indexOf('Compliance') > -1 && app.outcomeStatusName != null && app.outcomeStatusName != ''">View: <a href="#/Reporting?app={{app.uniqueId}}&c={{app.complianceApplicationId}}&ver={{app.applicationVersionTitle}}&r=Accreditation%20Report&org={{app.organizationName}}">Accreditation report</a><br /></span>
                <span>View: <a href="#/Application/History?app={{app.uniqueId}}&c={{app.complianceApplicationId}}&ver={{app.applicationVersionTitle}}">Application history</a><br /></span>
                <div ng-if="app.applicationTypeName.indexOf('Compliance') > -1">View: <a href="mailto: {{app.coordinator.emailAddress}}?cc=portal@factwebsite.org&subject=FACT Add-On Request - {{app.organizationName}}">Application add-on</a><br /></div>
                <span>View: <a href="#/Application/StatusView?app={{app.uniqueId}}&c={{app.complianceApplicationId}}&ver={{app.applicationVersionTitle}}">Quick View</a><br /></span>
                <span ng-if="vm.showCoordinatorView">View: <a href="#/Coordinator/View?app={{app.uniqueId}}&ver={{app.applicationVersionTitle}}">Coordinator View</a></span>
            </div>
        </div>
        <div class="row coordinator">
            <div class="col-md-2">
                <div class="coordinator-photo" ng-if="app.coordinator != null" style="background-image: url('/content/images/staffPhotos/{{app.coordinator.firstName | lowercase}}_{{app.coordinator.lastName | lowercase}}.jpg');">
                </div>
            </div>
            <div class="col-md-6">
                <div class="head" ng-if="app.coordinator != null">coordinator:</div>
                <div ng-if="app.coordinator != null">
                    {{app.coordinator.lastName}}, {{app.coordinator.firstName}}<br />
                    <a ng-if="app.applicationTypeName.indexOf('Compliance') == -1" href="mailto: {{app.coordinator.emailAddress}}?subject=RE: {{app.applicationTypeName}} for {{app.organizationName}}&body={{location.protocol()}}://{{location.host()}}:{{location.port()}}/#/Application?app={{app.uniqueId}}">{{app.coordinator.emailAddress}}</a>
                    <a ng-if="app.applicationTypeName.indexOf('Compliance') != -1" href="mailto: {{app.coordinator.emailAddress}}?subject=RE: Compliance Application for {{app.organizationName}}">{{app.coordinator.emailAddress}}</a>
                </div>
            </div>
            <div class="col-md-4">
                <div style="height: 22px; line-height: 22px;" class="row open-app">
                    <div>
                        <a href="#/Application?app={{app.uniqueId}}&ver={{app.applicationVersionTitle}}" ng-if="app.applicationTypeName.indexOf('Compliance') == -1">Open Application ></a>
                        <a href="#/Compliance?app={{app.uniqueId}}&c={{app.complianceApplicationId}}&ver={{app.applicationVersionTitle}}" ng-if="app.applicationTypeName.indexOf('Compliance') != -1">Open Application ></a>
                    </div>
                </div>
                <div class="row" style="height:10px; padding: 0;">&nbsp;</div>
                <!--<div class="row" ng-if="app.applicationTypeName.indexOf('Compliance') != -1">
                    <div>
                        <a href="#/Compliance/Multiview?app={{app.uniqueId}}&c={{app.complianceApplicationId}}&ver={{app.applicationVersionTitle}}">Multi View Application ></a>
                    </div>
                </div>-->
                <div class="row" ng-if="app.complianceApproval != null && app.complianceApproval.submittedComplianceId != null && app.complianceApproval.orgDirectorId == vm.common.currentUser.userId">
                    <div><a class="approval" href="#/Compliance/ManageCompliance?app={{app.uniqueId}}&sub={{app.complianceApproval.submittedComplianceId}}&c=&ver={{app.applicationVersionTitle}}">Approval ></a></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12 comp-application past-apps">
    <h1>Past Applications</h1>
    <div class="row" ng-repeat="org in vm.pastApps">
        <section>
            <div class="row">
                <div class="col-md-5">
                    <label class="pull-right">{{org.org}} </label>
                </div>
                <div class="col-md-6">
                    <div class="row" ng-repeat="app in org.apps">
                        <div class="col-md-12">
                            <a href="#/Application?app={{app.uniqueId}}&ver={{app.applicationVersionTitle}}" ng-if="app.applicationTypeName.indexOf('Compliance') == -1">{{app.applicationTypeName}} &nbsp;-&nbsp;Cycle&nbsp; {{app.cycleNumber}}</a>
                            <a href="#/Compliance?app={{app.uniqueId}}&c={{app.complianceApplicationId}}&ver={{app.applicationVersionTitle}}" ng-if="app.applicationTypeName.indexOf('Compliance') != -1">{{app.applicationTypeName}}&nbsp;-&nbsp;Cycle&nbsp; {{app.cycleNumber}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12"><hr/></div>
            </div>
        </section>
    </div>
</div>
<!--</div>-->