<link href="content/account.css" rel="stylesheet">
<div class="col-md-11 register">
    <div class="wp-block default user-form">
        <div class="form-header light">
            <h2>Reset your password</h2>
        </div>
        <div class="form-body">
            <form name="registration" class="sky-form">
                <fieldset class="no-padding">
                    <section class="mainbar reset">
                        <section class="matter">
                            <form name="reset" class="sky-form" ng-show="vm.user != null">
                                <fieldset>
                                    <section>
                                        <div class="form-group">
                                            <label class="label">First Name: {{vm.user.firstName}}</label>
                                        </div>
                                    </section>
                                    <section>
                                        <div class="form-group">
                                            <label class="label">Last Name: {{vm.user.lastName}}</label>
                                        </div>
                                    </section>
                                    <section>
                                        <div class="form-group">
                                            <label class="label">Email Address: {{vm.user.emailAddress}}</label>
                                        </div>
                                    </section>
                                    <section>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <span class="required-field">(Passwords must be at least 8 characters in length with at least 1 numeric, and special character)</span>
                                            </div>
                                        </div>
                                    </section>
                                    <section>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <label class="label">Password</label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-lock"></i>
                                                        <input type="password" ng-model="vm.password" name="password" required ng-blur="vm.validatePassword()" />
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <div class="form-group">
                                                    <label class="label">Confirm Password</label>
                                                    <label class="input">
                                                        <i class="icon-append fa fa-lock"></i>
                                                        <input type="password" ng-model="vm.passwordConfirm" name="passwordConfirm" required />
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section>
                                        <button class="btn btn-base btn-icon btn-icon-right btn-sign-in pull-right" type="submit" ng-click="vm.save()" ng-disabled="vm.checkFields() || reset.$invalid || vm.isInvalidPassword()">
                                            <span>Submit</span>
                                        </button>
                                    </section>
                                </fieldset>
                            </form>
                            <div class="form-group" ng-show="vm.user == null">
                                User Not found
                            </div>
                        </section>
                    </section>
                </fieldset>
            </form>
        </div>
        <div class="form-footer light">
            <p>
                Ready to sign in? <a href="#/">Click here</a>
            </p>
        </div>
    </div>
</div>