<div data-ng-controller="app.layout.ShellController as vm" id="start">
    <div id="splash-page" data-ng-show="vm.showSplash" class="dissolve-animation">
        <div class="spin-wrapper">
            <div class="cssload-loader">
                <div class="cssload-inner cssload-one"></div>
                <div class="cssload-inner cssload-two"></div>
                <div class="cssload-inner cssload-three"></div>
            </div>
            <div class="message">{{vm.message}}</div>
        </div>
    </div>
    <div class="body-wrap" ng-if="!vm.isHomePage">
        <div id="divHeaderWrapper">
            <div data-ng-include="'app/layout/topnav.html'"></div>
        </div>
    </div>
    <section class="slice bg-white">
        <div class="wp-section">
            <div class="row" ng-if="!vm.isHomePage">
                <div class="col-md-6 menu-sect">
                    <span id="spnMenuOpen" style="font-size: 25px; cursor: pointer; display: none" ng-click="vm.openNav()">&#9776;</span>
                </div>
                <div class="col-md-6 menu-sect">
                    <span style="font-size: 25px; cursor: pointer">&nbsp;</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2 menu-sect" id="mySidenav" style="transition: width 0.5s;">
                    <div data-ng-include="'app/layout/sidebar.html'" ng-if="!vm.isHomePage"></div>
                </div>
                <div class="col-md-8 root-sect" id="divContainer" style="margin-left: 15px;">
                    <div class="view-animate-container">
                        <div data-ng-view class="shuffle-animation main"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="bug" ng-show="vm.fullName != ''">
            <a href ng-click="vm.onAddBug()" id="addBug">
                <img src="/content/images/tools.png" alt="Report a Technical Issue">
                <span>Report a Technical Issue</span>
            </a>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="col copy">
                        <a href="{{vm.disclaimerUrl}}" target="_blank">Disclaimer</a> |
                        <a href="{{vm.accessibilityUrl}}" target="_blank">Accessibility</a> |
                        <a href="{{vm.privacyUrl}}" target="_blank">Privacy</a> |
                        <a href="{{vm.sitemapUrl}}" target="_blank">Sitemap</a> |
                        <a href="{{vm.contactUsUrl}}" target="_blank">Contact Us</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    &copy; 2017 Foundation for the Accreditation of Cellular Therapy. All rights reserved.
                </div>
            </div>
        </div>

    </footer>

</div>

