<style>
     .app-modal-window .modal-dialog {
        width: 1200px !important;
    }
</style>
<div class="modal-header">
    <h3 class="modal-title">Coordinator View</h3>
</div>
<div class="modal-body">
    <form class="sky-form" name="coordinatorView">
        <fieldset ng-repeat="section in vm.allSections">
            <section>
                <div class="form-group">
                    <h4>
                        {{section.uniqueIdentifier}}: <span ng-bind-html="section.name" style="text-transform:none;"></span>
                    </h4>
                </div>
            </section>
            <div name="divQuestion" ng-repeat="question in section.questions" ng-if="question.type != 'Document Upload'" class="panel panel-default">
                <div class="row panel-body">
                    <div class="col-md-12">
                        <span class="glyphicon glyphicon-flag" ng-class="question.flag?'glyphicon-flag-red':'glyphicon-flag-grey'" ng-click="vm.flagClick(question)"></span>&nbsp;{{$index+1}}&nbsp;.<span ng-bind-html="question.text" style="text-transform:none;"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        &nbsp;<b>Answer</b><br />
                        <!--&nbsp;<label ng-if="question.type != 'Checkboxes' && question.type != 'Radio Buttons' ">{{ question.questionResponses[0].otherText }}</label>-->
                        &nbsp;<span ng-if="question.type != 'Checkboxes' && question.type != 'Radio Buttons' " ng-bind-html="question.questionResponses[0].otherText" style="text-transform:none;"></span>
                        &nbsp;<label ng-if="question.type == 'Checkboxes' || question.type == 'Radio Buttons' ">{{ vm.getSelectedAnswer(question.answers) }}</label>
                    </div>
                    <div class="col-md-5">
                        <b>Comment</b><br />
                        <span ng-bind-html="question.comments" style="text-transform:none;"></span>
                    </div>
                    <div class="col-md-3">
                        <b>Review Status</b><br />
                        <label ng-repeat="status in vm.statusTypes" ng-click="vm.onStatusSelected(question, status, $parent.$parent.$index )" style="display:block;">
                            <input id="{{status.id}}" type="radio" name="{{question.id}}" value="{{status.name}}" ng-checked="question.answerResponseStatusId == status.id" ng-disabled="(vm.isRfi && vm.isInspector && status.name === 'RFI') || (!vm.isFact && status.name === 'RFI/Followup')" />{{status.name}}
                        </label>
                    </div>
                </div>
                <div ng-if="question.responseCommentsCitation.length > 0">
                    <div class="row">
                        <div class="col-md-12">
                            <b>Deficiency</b>
                        </div>
                    </div>
                    <div class="row" ng-repeat="comment in question.responseCommentsCitation">
                        <div class="col-md-1">
                            <input type="checkbox" ng-model="comment.includeInReporting" ng-click="vm.onInclude(comment, section)"  />
                        </div>
                        <div class="col-md-7">
                            <span ng-bind-html="comment.comment" style="text-transform: none;"></span><br/>
                            <label class="label" ng-if="comment.document.name">Attachments: <a href="/Download?fileName={{comment.document.path}}&organizationName={{vm.application.organizationName | urlescape}}" target="_blank">{{comment.document.name}}</a></label>
                        </div>
                        <div class="col-md-3">
                            {{comment.commentFrom.fullName}}:{{comment.updatedDate}}
                        </div>
                        <div class="col-md-1 pull-right" ng-if="!vm.isUser || comment.fromUser == vm.common.currentUser.userId">
                            <button type="button" name="btnEdit{{$index}}" class="btn btn-base btn-icon btn-icon-right" ng-show="vm.validateEdit(comment)" ng-click="vm.editComment(question,comment)">Edit</button>
                        </div>
                    </div>
                </div>

                <div ng-if="question.responseCommentsSuggestion.length > 0">
                    <div class="row">
                        <div class="col-md-12">
                            <b>Suggestion</b>
                        </div>
                    </div>
                    <div class="row" ng-repeat="comment in question.responseCommentsSuggestion">
                        <div class="col-md-1">
                            <input type="checkbox" ng-model="comment.includeInReporting" ng-click="vm.onInclude(comment, section)"  />
                        </div>
                        <div class="col-md-7">
                            <span ng-bind-html="comment.comment" style="text-transform: none;"></span><br/>
                            <label class="label" ng-if="comment.document.name">Attachments: <a href="/Download?fileName={{comment.document.path}}&organizationName={{vm.application.organizationName | urlescape}}" target="_blank">{{comment.document.name}}</a></label>
                        </div>
                        <div class="col-md-3">
                            {{comment.commentFrom.fullName}}:{{comment.updatedDate}}
                        </div>
                        <div class="col-md-1 pull-right" ng-if="!vm.isUser || comment.fromUser == vm.common.currentUser.userId">
                            <button type="button" name="btnEdit{{$index}}" class="btn btn-base btn-icon btn-icon-right" ng-click="vm.editComment(question,comment)">Edit</button>
                        </div>
                    </div>
                </div>

                <div ng-if="question.responseCommentsCoordinator.length > 0">
                    <div class="row">
                        <div class="col-md-12">
                            <b>Coordinator Note</b>
                        </div>
                    </div>
                    <div class="row" ng-repeat="comment in question.responseCommentsCoordinator">
                        <div class="col-md-1">
                            <input type="checkbox" ng-model="comment.includeInReporting" ng-click="vm.onInclude(comment, section)"  />
                        </div>
                        <div class="col-md-7">
                            <span ng-bind-html="comment.comment" style="text-transform: none;"></span><br/>
                            <label class="label" ng-if="comment.document.name">Attachments: <a href="/Download?fileName={{comment.document.path}}&organizationName={{vm.application.organizationName | urlescape}}" target="_blank">{{comment.document.name}}</a></label>
                        </div>
                        <div class="col-md-3">
                            {{comment.commentFrom.fullName}}:{{comment.updatedDate}}
                        </div>
                        <div class="col-md-1 pull-right" ng-if="!vm.isUser || comment.fromUser == vm.common.currentUser.userId">
                            <button type="button" name="btnEdit{{$index}}" class="btn btn-base btn-icon btn-icon-right" ng-click="vm.editComment(question,comment)">Edit</button>
                        </div>
                    </div>
                </div>

                <div ng-if="question.responseCommentsFactOnly.length > 0">
                    <div class="row">
                        <div class="col-md-12">
                            <b>FACT only Comments</b>
                        </div>
                    </div>
                    <div class="row" ng-repeat="comment in question.responseCommentsFactOnly">
                        <div class="col-md-8">
                            <span ng-bind-html="comment.comment" style="text-transform:none;"></span><br />
                            <label class="label" ng-if="comment.document.name">Attachments: <a href="/Download?fileName={{comment.document.path}}&organizationName={{vm.application.organizationName | urlescape}}" target="_blank">{{comment.document.name}}</a></label>
                        </div>
                        <div class="col-md-3">
                            {{comment.commentFrom.fullName}}:{{comment.updatedDate}}
                        </div>
                        <div class="col-md-1 pull-right" ng-if="!vm.isUser || comment.fromUser == vm.common.currentUser.userId">
                            <button type="button" name="btnEdit{{$index}}" class="btn btn-base btn-icon btn-icon-right" ng-click="vm.editComment(question,comment)">Edit</button>
                        </div>
                    </div>
                </div>

                <div ng-if="question.responseCommentsRFI.length > 0">
                    <div class="row">
                        <div class="col-md-12">
                            <b>RFI comments</b>
                        </div>
                    </div>
                    <div class="row" ng-repeat="comment in question.responseCommentsRFI">
                        <div class="col-md-1">
                            <input type="checkbox" ng-model="comment.includeInReporting" ng-click="vm.onInclude(comment, section)" />
                        </div>
                        <div class="col-md-7">
                            <span ng-bind-html="comment.comment" style="text-transform: none;"></span><br/>
                            <label class="label" ng-if="comment.document.name">Attachments: <a href="/Download?fileName={{comment.document.path}}&organizationName={{vm.application.organizationName | urlescape}}" target="_blank">{{comment.document.name}}</a></label>
                        </div>
                        <div class="col-md-3">
                            {{comment.commentFrom.fullName}}:{{comment.updatedDate}}
                        </div>
                        <div class="col-md-1 pull-right" ng-if="!vm.isUser || comment.fromUser == vm.common.currentUser.userId">
                            <button type="button" name="btnEdit{{$index}}" class="btn btn-base btn-icon btn-icon-right" ng-click="vm.editComment(question,comment);">Edit</button>
                        </div>
                    </div>
                </div>

                <div style="margin-left:5px;">
                    <button type="button" class="btn btn-base btn-icon btn-icon-right" ng-click="toggle = !toggle" data-toggle="collapse" data-target="#divAdditionalComments{{$index}}">
                        <span ng-hide="toggle">Add Comments</span>
                        <span ng-show="toggle">Close Form</span>
                    </button>
                </div>
                <div id="divAdditionalComments{{$index}}" class="collapse panel panel-default" style="margin:5px 5px 5px 5px;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <b>Comment Type</b><br />

                                <select name="commentTypeDropdown" style="width:150px;" ng-model="question.commentTypeId" ng-options="commentType.id as commentType.name for commentType in vm.commentTypes" ng-disabled="vm.readOnly || vm.isUser"></select>
                            </div>
                            <div class="col-md-9 pull-left">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label id="lblCommentRequired{{$index}}" ng-if="!question.responseComment"><span class="required-field">Comment Required</span></label>
                                        <label class="input">
                                            <label class="input">
                                                <textarea kendo-editor k-encoded="false" k-ng-model="question.responseComment" required spellcheck="true"></textarea>
                                            </label>
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-2">
                                        <label class="label">
                                            File name:
                                        </label>
                                    </div>
                                    <div class="col-md-5">
                                        <label class="input">
                                            <input type="text" ng-model="question.fileName" name="fileName{{$index}}" />
                                        </label>
                                    </div>
                                    <div class="col-md-5 pull-left">
                                        <label class="input">
                                            <i class="icon-append fa fa-lock"></i>
                                            <input type="file" file-model="question.file" name="file{{$index}}" />
                                        </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 pull-right">
                                        <button class="btn btn-base btn-icon btn-icon-right btn-check pull-right" type="submit" ng-click="vm.saveComment(question)">
                                            <span>Save Comment</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="vm.save()">Save</button>
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>    
